
.root {
  display: flex;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 2px solid #ddd;
  padding: 20px 0 20px;
  flex-shrink: 0;
}

.name,
.name input {
  font-size: 25px;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  padding: 0;
}

.name {
  margin-bottom: 20px;
}

.lifeCounter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}

.life {
  font-size: 30px;
}
